:root {

  /* =========================================
     COLORS
  ========================================= */

  --color-black: #080806;

  --color-black-soft: #11110e;

  --color-dark: #151510;

  --color-light: #f4f0e5;

  --color-light-soft: #ebe5d7;

  --color-white: #ffffff;

  --color-gold: #dcae35;

  --color-gold-light: #f1c755;

  --color-gold-dark: #a97d18;

  --color-text-dark: #17150f;

  --color-text-muted: #858176;


  /* =========================================
     TYPOGRAPHY
  ========================================= */

  --font-serif:
    Georgia,
    "Times New Roman",
    serif;

  --font-sans:
    Arial,
    Helvetica,
    sans-serif;


  /* =========================================
     LAYOUT
  ========================================= */

  --container-width: 1200px;


  /* =========================================
     RADIUS
  ========================================= */

  --radius-sm: 8px;

  --radius-md: 16px;

  --radius-lg: 24px;


  /* =========================================
     SHADOW
  ========================================= */

  --shadow-gold:
    0 0 25px rgba(220, 174, 53, 0.18);

  --shadow-gold-strong:
    0 0 40px rgba(220, 174, 53, 0.28);


  /* =========================================
     TRANSITION
  ========================================= */

  --transition-fast: 0.25s ease;

  --transition-normal: 0.4s ease;

  --transition-slow: 0.7s ease;

}